<!DOCTYPE html>
<html>
	<head>
		<title>Arrested Development Quote Search</title>
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	</head>
	<body style="padding-top: 1em;">
		<div class="container">
			<%= yield %>

			<div class="text-center muted">
				By <a href="http://twitter.com/jhawthorn">@jhawthorn</a>. Source on <a href="http://github.com/jhawthorn/uncletbag">github</a>.
			</div>
		</div>
	</body>
</html>
